<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Private Tasker</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h1 class="navbar-brand"><i class="fas fa-check-double"></i> Mytthew Tasker</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-targer="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="app/taskmanager">Task Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="app/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>

    <footer class="container">
        <div class="text-center">Copyright 2021 Private Tasker by Mytthew. All Rights Reserved.</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
    @RenderSection("scripts", false)
</body>
</html>