@{
    ViewBag.Title = "Private Tasker";
}

<div class="row">

    <div class="col-md-6">
        <div id="loginToggle">
            <h1>@ViewBag.Title</h1>
            <form name="logform">
                <label for="uname"></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        Some sample text, lorem ipsum etccccccccccccccccccccccccc
    </div>
</div>